.rocket {
  display: flex;
  margin: 4vh 3vw;
}

.rocket-info {
  margin: 0 2vw;
}

.rocket-info p {
  font-size: larger;
}

.rocket-info h2 {
  font-size: xx-large;
  margin: auto;
}

.rocket-info button {
  background-color: #3e9eff;
  height: 6vh;
  font-size: large;
  color: #fff;
  font-weight: lighter;
  width: 11vw;
  margin: 0 0 3vh 0;
  border: 0;
  border-radius: 10px;
}
