tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody.tour_body td {
  padding: 15px;
  font-size: 1.5rem;
}

#tab td:nth-child(3),
#tab td:nth-child(4) {
  text-align: center;
  width: 15%;
}

#tab td:nth-child(2) {
  width: 60%;
  padding: 20px;
}

#tab tbody td:nth-child(1) {
  width: 10%;
  padding: 8px;
}

#tab {
  width: 95%;
  margin: 60px auto;
}

table.tour_list {
  width: 100%;
}

thead {
  text-align: left;
}

.join {
  padding: 5px 16px;
  border-color: rgb(48, 46, 46);
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.leave {
  padding: 0.5rem;
  text-align: center;
  border-radius: 4px;
  border: 2px solid red;
  background-color: #fff;
  color: red;
}

.non_member {
  background-color: rgb(123, 122, 122);
  color: #fff;
  padding: 0.2rem;
  border-radius: 10px;
}

.non_member.active {
  color: #fff;
  padding: 0.2rem;
  border-radius: 10px;
  background-color: rgb(63, 115, 194);
}

td.make-reservations {
  width: 80%;
}
