.header {
  width: 100%;
  justify-content: space-between;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
}

img {
  max-width: 20%;
}

img.logo {
  max-width: 8%;
}

.flex {
  display: flex;
  align-items: center;
}

.NavLinks {
  display: flex;
  list-style-type: none;
  margin-right: 30px;
}

.NavLinks > li > a {
  padding: 0 10px;
  color: #525252;
}

.activeRockets > ul > li {
  list-style: none;
  padding: 16px;
  font-size: 1.5rem;
}

.NavLinks li:nth-child(2) {
  border-right: 1px solid #525252;
}

.active {
  padding-bottom: 0.35rem;
}
